@font-face {
    font-family: 'Roboto';
    src: local('☺'),
         url('../fonts/Roboto-Black.ttf') format('truetype'),
         url('../fonts/Roboto-BlackItalic.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),
         url('../fonts/Roboto-Italic.ttf') format('truetype'),
         url('../fonts/Roboto-Light.ttf') format('truetype'),
         url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
         url('../fonts/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Thin.ttf') format('truetype'),
         url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* body{
    display: flex;
    justify-content: center;
} */

.parent{
    
    width: 100%;
    display: flex;
    justify-content: center;
  
}

/* app bar started */
.appBar{
    max-width: 500px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    margin: auto;
}

img.back{
    width: 22px;
    height: 20px;
}

.divBack{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.serialNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.threeIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 25%;
    flex-grow: 1;
}

/* App bar finished */


/* dpDivStarted */

.dpDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

/* .mainDpDiv{
    padding-top: 10px;
} */

.mainDp{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}


