
  @font-face {
    font-family: Signatra;
    src: url(../fonts/Signatra.ttf);
  }
  body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .nav{
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px #00000011;
    z-index: 15;
    padding-top: 20px
  }
  
  .chatList{
    padding: 5px;
    padding-top: 130px;
  }
  
  .serialBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    background-color: yellow;
    background-color: white;
  }
  
  .serialBarItems{
    flex-grow: 1;
  }
  
  .appName{
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .appName > span{
    font-family: Signatra;
    font-family: Signatra;
    font-size: 55px;
    font-weight: 200;
    color: #71075F;
    
  }
  
  .bellIcon{
    background-color: white;
    background-color: red;
  }
  
  
  .threeItems{
    display: flex;
    justify-content: center;
  }
  
  .searchIconClass{
    margin: 5px;
    height: 25px;
    width: 25px;
    max-width: 40px;
    min-width: 40px;
    align-self: center;
    margin-right: 20px;
  }
  
  .dpClass{
    margin: 5px;
    height: 50px;
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    align-self: center;
    border-radius: 50%;
  }
  
  .transparentClass{
    margin: 5px;
    height: 25px;
    width: 25px;
    max-width: 40px;
    min-width: 40px;
    align-self: center;
    margin-left: 20px;
    background-color: #a3a3ff;
    visibility: hidden;
  }
  
  
  
  .tabBar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: gray;
    background-color: #ffffff;
    height: 40px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #80808080;
  }
  
  .tabBarItems{
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
  }
  
  .tabBarChats{
    color: #71075F;
  }
  
  .tabBarMedia{
    color: #80808080;
  }
  
  .tabBarPeople{
    color: #80808080;
  }
  
  
  
  
  .tabBarLine{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
  }
  
  .tabBarLineItems{
  width: 33.333%;
  background-color: #71075F;
  height: 3px;
  border-radius: 5px;
  }
  
  
  h1{
    font-family: Signatra;
    font-size: 50px;
    font-weight: 200;
    margin-left: 15px;
    color: #71075F;
  
  }
  
  .chatBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    background-color: white;
    height: 80px;
    width: 100%;
    
  }
  
  .userDpAndDetail{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    background-color: gray;
    background-color: white;
    height: 60px;
    width: auto;
  }
  
  #img{
    margin: 5px;
    height: 60px;
    width: 60px;
    min-width: 60px;
    border-color: #00DD00;
    border-width: 3px;
    align-self: center;
    border-radius: 50%;
  }
  
  
  
  .bellIconClass{
    margin: 5px;
    height: 27px;
    width: 27px;
    max-width: 40px;
    min-width: 40px;
    align-self: center;  
  }
  
  
  
  
  
  
  .abc1{
  max-width: 33.33%;
  
  }
  .abc2{
    display: flex;
    justify-content: center;
    max-width: 33.33%;
    
  }
  .abc3{
    display: flex;
    justify-content: center;
    max-width: 33.33%;
  
  }
  
  .nameLastmsg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    background-color: green;
    background-color: white;
    height: 40px;
    width: auto;
    
  }
  
  .lastMsg{
    overflow: hidden;
    background-color: blue;
    background-color: white;
    color: white;
    color: black;
    min-height: 25px;
  }
    
    #lastMsg{
      line-height: 20px;
      font-size: 14px;
      padding-top: 2px;
      font-weight: 500;
      color: #808080;
      display: block;
      
    }
    
  .name{
    padding-top: 20px;
    min-height: 13px;
    
  }
  
  #name{
    margin: 3px;
    padding: 0px;
    
    font-size: 18px;
    font-weight: bold;
    width: auto;
    line-height: 0px;
    
  }
  p{
    margin: 3px;
    padding: 0px;
    line-height: 10px;
    font-size: 10px;
    align-self: center;
    width: auto;
  }
  
  .lastMsgTime{
    background-color: purple;
    background-color: white;
    width: auto;
    color: white;
    color: purple;
    min-width: 70px;
  }
  
  #lastMsgTime{
    font-size: 12px;
  }
  
  
  .container{
    display: block;
  }



  